/albion_sr/
/albion/
/data/*.XLD/
/data/Saves/
/data/ShaderCache/
/data/exported/
/re/
/veldrid-spirv/
/veldrid/

.vs/
.vscode/
Debug/
bin/
obj/
packages/

*.filters
*.gpr
*.lock
*.lock~
*.user

SDL2.dll
imgui.ini
libveldrid-spirv.dll
