/albion_sr/
/ALBION/
/data/*.XLD/
/data/ShaderCache/
/data/exported/
/data/settings.json
/re/
/deps/

.vs/
.vscode/
/BenchmarkDotNet.Artifacts
Debug/
bin/
obj/
packages/

*.filters
*.gpr
*.lock
*.lock~
*.user
*.DotSettings
*.code-workspace
launchSettings.json
imgui.ini
global.json

mods/*
!mods/Base/
!mods/Test/
!mods/Repacked/
mods/Repacked/Albion/*
!mods/Unpacked/
mods/Unpacked/Assets/*
